
.account-details{
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
}

.enter-btn{
  float: left;
}

.register-btn{
  float: right;
}

.account-btn{
  border: none;
  margin-top: 1.5px;
}

.account-btn:hover{
  color: blue;
}

.user-name{
  float: right;
}