html {
    font-size: 62.5%;
}

body{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: $m-size;
    direction: rtl;
}

.header{
    margin-top: 0.5%;
    margin-bottom: 4%;
    direction: ltr;
}

.calendar-page{
    display: block;
}
button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

.month-name{
    text-align: -webkit-center;
}
.calander{
    width: 90%;
}
td{
    text-align: center;
    background-color: #bbcedf;
    font-size: large;
    font-family: initial;
}
td:hover {
 background-color: #71e166;
}

.rdo-btn{
    margin-right: -7px;
    margin-top: -5px;
}
.is-active{
    font-weight: bold;
}

.form-calendar{
    display: block;
}

.control-month{
    width: 99%;
    margin-right: 2px;
}
.control-haflaga-btn{
    max-width: 100%;
    display: block;
    margin: 0 43% 0 40%;
    flex-flow: column;
}

.calc-haflaga-calcualet {
    margin-left: 3%;
    margin-bottom: 3%;
}
.calendar-area{
    margin-top: 8%;
}
.button-next{
   float: right;
    margin-right: -1px;
    
}

.button-previous{
   float: left;
    margin-left: -0.7%;
}

.month-name{
    font-weight: bold;
}

.selection{
    width: 30%;
}

.btn-acording{
    float: right;
}

.first-btn{
    margin: 10px;
}

.second-btn{
    margin: 10px;
}
.thered-btn{
    margin: 10px;
}

.haflaga-area{
    width: 100%;
   float: right;
   padding: 1px 39% 0 40%;
   margin-top: 2%;
}

.haflaga-text-start{
    display: block;
}

.haflaga-text-end{
    display: block;
    margin-top: 2%;
}
.acording-to-btn{
    margin: 0px 35% 0 40%;
}

.footer{
    border-top: solid black 1px;
}

dt{
    float: right;
}




@media screen and (max-width: 510px) {
    .calendar-page{
        display: inline-block;
    }

    .month-name{
        display: inline-block;
        margin-right: 50%;
        margin-left: 40%;
    }

    .acording-to-btn{
           margin-left: 25%; 
    margin-right: 25%;
} 
.calc-haflaga-calcualet{
    margin-top: 5%;
}
    }
  